*{
    box-sizing: border-box;
}
    html {
        font-size: 64.22%;
        scroll-behavior: smooth;
        font-family:'Poppins',sans-serif;
    }
    body{
        background-color: #4bcfff8c;
    }

    main {
        width: 40rem;
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        
    }

    main>h1 {
        font-size: 3rem;
    }

    main>p {
        font-size: 1.5rem;
    }


    .picker {
        border-radius: 100%;
        width: 18rem;
        padding: 1.5rem 1.2rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        cursor: pointer;
        box-shadow: 3px 2px 3px #4bcfff8c;
    }
    .picker--outer:active::after {
        transform: scale(2);
        background-color: #4bcfff8c;
        opacity: 0;
    }

    .picker--outer::after {
        box-shadow: 1px 2px 3px #4bcfff8c;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        position: absolute;
        content: " ";
        width: 100%;
        display: block;
        height: 100%;
        border-radius: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        
    }
    .picker--outer {
        padding: 1rem 2.5rem;
        border-radius: 100%;
        width: 100%;
        margin: 0 auto;
        transition: all 0.5s;
        box-shadow: 3px 2px 2px #4bcfff60;
        position: relative;
    }

    .picker:hover {
        box-shadow: 3px 2px 3px #4bcfff8c;
    }

    .picker:active {
        box-shadow: 2px 1px 2px #4bcfff60;
    }


    .picker--inner h2 {
        font-size: 2rem;
        display: inline-block;
        letter-spacing: .2rem;
    }
    .picker--inner p::selection{
        background-color: #4bcfff8c;
        color: #fff;
    }
    .picker--inner p{
        margin: 0 .5rem;
    }
    .display ul {
        padding: 0;
        margin-top: 3rem;
    }

    .display li {
        list-style: none;
        font-size: 1.5rem;
        text-shadow: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 2px 3px #4bcfff8c;
        padding: 3rem 1rem;
        margin-bottom: 1rem;
        border-radius: .5rem;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
        z-index: 1;
        transition: all 0.3s;
        font-weight: bold;
        line-height: .5rem;
    }

    .display li:hover::after {
        transform: scaleX(1.2);
        background-color: #4bcfff8c;
        opacity: 0;
    }

    .display li::after {
        box-shadow: 1px 2px 3px #4bcfff8c;
        background-color: #fff;
        transition: all 0.5s;
        position: absolute;
        content: " ";
        width: 100%;
        display: block;
        height: 100%;
        border-radius: .5rem;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0.7;
    }
    
    .myname{
        color: #ffffff;
        text-shadow: 1px 2px 1px #000;
    }
